/target
/target/*
nbactions.xml
/nbproject/
highscore.txt
/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/target/*
/laskarit/viikko2/Unicafe/nbproject/
/FlappyBird/target
/FlappyBird/target/*
/FlappyBird/nbactions.xml
/nbproject/
todo.md